body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
 max-width: 1400px;
  margin: 0 auto;
}
table {
  width: 100%;
}
table th {
  background: #dae3ee;

}
table, th, td {
  border: 3px solid black;
  border-collapse: collapse;

}
th {
  padding: 10px;
}
input {
  display: block;
  width: 100%;
  height: 30px;
}
 td {
  /*width: 70px;*/
     font-size: 1.2rem;
     text-align: center;
}
 td.pay {
     color: #861717;
 }
 input {
     animation: animate1 3s forwards 1s ease-in-out infinite;
 }
 input:active {
     border: none;
 }
/*@keyframes animate1  {*/
/*    20% { color: #ae3b3b;*/

/*    } 40% {color: #e3a8a8;*/

/*    } 40% {color: #efefef;*/

/*    } 80% {color: #dd6c6c;*/

/*    } 100% {color: brown;*/
/*    */
/*} }*/