body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
 max-width: 1400px;
  margin: 0 auto;
}
table {
  width: 100%;
}
table th {
  background: #dae3ee;

}
table, th, td {
  border: 3px solid black;
  border-collapse: collapse;

}
th {
  padding: 10px;
}
input {
  display: block;
  width: 100%;
  line-height: 24px;
    text-align: center;

}
 td {
  width: 100px;
     line-height: 24px;

     font-size: 1.2rem;
     text-align: center;
}
 td.pay {
     color: #861717;
 }

 input:active {
     border: none;
 }
 button.mode {
     margin-top: 20px;
     width: 160px;
     height: 30px;
     background: #e32a14;
     color: #dae3ee;
     font-weight: 600;
     letter-spacing: .1em;
     border-radius: 5px;
     border: none;
     display: none;
     /*animation: animate1 3s forwards  ease-in-out infinite;*/

 }




 .active  {
     margin-top: 20px;
     display: block;
     border: none;
     border-radius: 5px;
     width: 160px;
     height: 30px;
     background: #e32a14;
     color: #dae3ee;
     font-weight: 600;
     letter-spacing: .2em;
     animation: animate1 2s forwards  ease-in-out infinite;

 }



@keyframes animate1  {
    20% {  background: #e32a14;

    } 40% { background: #e58e83;

    } 40% { background: #efefef;

    } 80% { background: #dd6c6c;

    } 100% { background: #e32a14;

} }


